$yellow: #dcd07b;
$green: #5ec788;

.grx-row { background-color: rgba(255, 255, 255, 0.06); position: relative; margin-top: 15px;
  > code { top: -30px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; right: 0; left: 0; position: absolute; }
}
.grx-row > * { min-height: 30px; padding: 20px; background-color: rgba(255, 255, 255, 0.06); position: relative;
  
  > code { }
}

* { box-sizing: border-box; }
html { font-size: 10px; }
body { background: #403F44; color: #68D6DC; font-family: Helvetica, Arial, sans-serif; font-size: 17px; line-height: 1.4; }
p { background-color: rgba(255, 255, 255, 0.06); padding: 20px; margin-top: 60px; }
button { border: none; background-color: #888; }
small { display: block; font-size: 0.9em; color: #5DA7AB; }
code { font-family: Consolas, monospace; display: block; color: #C866E6; background-color: #2B2A31; border-radius: 3px; padding: 5px 10px; font-size: 0.9em; }

.container { width: 1200px; margin-right: auto; margin-left: auto; }
