////////////////////
//container children
////////////////////

.#{$grx-row}, .#{$grx-row} > * {
    // flex-grow: 0;
    // flex-shrink: 1;
    box-sizing: border-box;
}
//default (null) breakpoint
@media all and (min-width: 0) {
    //default base
    .#{$grx-col}, .#{$grx-row} {
        @for $n from 1 through $grx-base_default {
            > .#{$grx-size}-#{$n} {
                width: percentage($n / $grx-base_default);
            }
        }
        //dynamic bases
        @each $base in $grx-bases {
             @for $n from 1 through $base{
                > .#{$grx-size}-#{$n}-#{$base} {
                    width: percentage($n / $base);
                }
            }
        }
    }
}
//dynamic breakpoints
@each $bpname, $bpvalue in $grx-breakpoints {
     @media all and (min-width: #{$bpvalue}){
        .#{$grx-col}, .#{$grx-row} {
            //default base
            @for $n from 1 through $grx-base_default {
                > .#{$grx-size}-#{$bpname}-#{$n} {
                    width: percentage($n / $grx-base_default);
                }
            }
            //dynamic bases
            @each $base in $grx-bases {
                 @for $n from 1 through $base{
                    > .#{$grx-size}-#{$bpname}-#{$n}-#{$base} {
                        width: percentage($n / $base);
                    }
                }
            }
        }
    }
}
/////////////////
//general element
/////////////////

.#{$grx-col}, .#{$grx-row} {
    display: flex;
    box-sizing: border-box;
    ////////
    //gutter
    ////////
    @each $name, $value in $grx-gutters {
        &.gutter-#{$name} {
            &.wrap {
                margin: -$value/2;

                > * {
                    padding: $value/2;
                }
            }
        }
    }

    &[class*="gutter-"] {
        &:after,
        &:before {
            content: '';
        }
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.center {
        @extend %grx-justify-center;
        @extend %grx-align-center;
    }
    //deprecated
    &.align-start {
        @extend %grx-align-start;
    }

    &.align-center {
        @extend %grx-align-center;
    }

    &.align-end {
        @extend %grx-align-end;
    }

    &.justify-start {
        @extend %grx-justify-start;
    }

    &.justify-center {
        @extend %grx-justify-center;
    }

    &.justify-end {
        @extend %grx-justify-end;
    }

    &[class*="-between"] {
        justify-content: space-between;
    }

    &[class*="-around"] {
        justify-content: space-around;
    }

    > .#{$grx-size}-auto {
        //column which takes up entire remaining free space (width) in the row
        flex: 2 2 auto;
    }
}

.#{$grx-row} {
  ////////
  //gutter
  ////////
    @each $name, $value in $grx-gutters {
        &.gutter-#{$name} {
            &:not(.wrap) {
                overflow: hidden;

                &:after,
                &:before {
                    //offset for gutter on external elements;
                    margin-left: -$value/2;
                }

                > * {
                    margin-right: $value/2;
                    margin-left: $value/2;
                }
            }
        }
    }

    &[class*="#{$grx-items}-"] {
        &[class*="-right"] {
            @extend %grx-justify-end;
        }

        &[class*="-center"] {
            @extend %grx-justify-center;
        }

        &[class*="-left"] {
            @extend %grx-justify-start;
        }

        &[class*="-bottom"] {
            @extend %grx-align-end;
        }

        &[class*="-middle"] {
            @extend %grx-align-center;
        }

        &[class*="-baseline"] {
            @extend %grx-align-baseline;
        }

        &[class*="-top"] {
            @extend %grx-align-start;
        }
    }

    > .pull-left,
    > .pull-start {
        margin-right: auto !important;
    }

    > .pull-right,
    > .pull-end {
        margin-left: auto !important;
    }

    > .align-top {
      @extend %grx-align-self-start;
    }

    > .align-middle {
      @extend %grx-align-self-center;
    }

    > .align-bottom {
      @extend %grx-align-self-end;
    }
}

.#{$grx-col} {
    flex-direction: column;

    ////////
    //gutter
    ////////
    @each $name, $value in $grx-gutters {
        &.gutter-#{$name} {
            &:not(.wrap) {
                overflow: hidden;

                &:after,
                &:before {
                    //offset for gutter on external elements;
                    margin-top: -$value/2;
                }

                > * {
                    margin-top: $value/2;
                    margin-bottom: $value/2;
                }
            }
        }
    }

    &[class*="#{$grx-items}-"] {
        &[class*="-right"] {
            @extend %grx-align-end;
        }

        &[class*="-center"] {
            @extend %grx-align-center;
        }

        &[class*="-left"] {
            @extend %grx-align-start;
        }

        &[class*="-bottom"] {
            @extend %grx-justify-end;
        }

        &[class*="-middle"] {
            @extend %grx-justify-center;
        }

        &[class*="-top"] {
            @extend %grx-justify-start;
        }
    }

    > .pull-top,
    > .pull-start {
        margin-bottom: auto !important;
    }

    > .pull-bottom,
    > .pull-end {
        margin-top: auto !important;
    }

    > .align-left {
      @extend %grx-align-self-start;
    }

    > .align-center {
      @extend %grx-align-self-center;
    }

    > .align-right {
      @extend %grx-align-self-end;
    }
}
