/*!
* Grx - a lightweight layout grid
* http://github.com/mike-shtil/grx
*
* by: Michael (Mike) Shtilerman
* http://mike-is.me
* distributed under MIT license
*/

///////////
//container
///////////

.#{$row}, .#{$col} {
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    ////////
    //gutter
    ////////
    @each $name, $value in $gutters {
        &.gutter-#{$name} {
            margin: -$value/2;
            > * {
                padding: $value/2;
            }
        }
    }
}

.#{$col} {
  flex-direction: column;
}

////////////////////
//container children
////////////////////

.#{$row}, .#{$row} > * {
    // flex-grow: 0;
    // flex-shrink: 1;
    box-sizing: border-box;
}
//default (null) breakpoint
@media all and (min-width: 0) {
    //default base
    .#{$row} {
        @for $n from 1 through $base_default {
            > .#{$size}-#{$n} {
                flex-basis: percentage($n / $base_default);
            }
        }
        //dynamic bases
        @each $base in $bases {
             @for $n from 1 through $base{
                > .#{$size}-#{$n}-#{$base} {
                    flex-basis: percentage($n / $base);
                }
            }
        }
    }
}
//dynamic breakpoints
@each $bpname, $bpvalue in $breakpoints {
     @media all and (min-width: #{$bpvalue}){
      .#{$row} {
            //default base
            @for $n from 1 through $base_default {
                > .#{$size}-#{$bpname}-#{$n} {
                    flex-basis: percentage($n / $base_default);
                }
            }
            //dynamic bases
            @each $base in $bases {
                 @for $n from 1 through $base{
                    > .#{$size}-#{$bpname}-#{$n}-#{$base} {
                        flex-basis: percentage($n / $base);
                    }
                }
            }
        }
    }
}
.#{$size}-auto {
    //column which takes up entire remaining free space (width) in the row
    flex: 2 2 auto;
}

/////////////////
//general element
/////////////////

.#{$row}, .#{$col} {
    //justify (horizontal in row)
    &.justify-start {
        justify-content: flex-start;
        //text-align: left;
    }
     &.justify-center,
    %justify-center {
        justify-content: center;
        //text-align: center;
    }
    &.justify-end {
        justify-content: flex-end;
        //text-align: right;
    }
    //align (vertical in row)
    &.align-start {
        align-items: flex-start;
    }
     &.align-center,
    %align-center {
        align-items: center;
    }
    &.align-end {
        align-items: flex-end;
    }
    &.align-stretch {
        align-items: stretch;
    }
    &.center {
        //align and justify
        @extend .align-center;
        @extend .justify-center;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    > .pull-end {
      margin-left: auto !important;
    }
    > .pull-start {
      margin-right: auto !important;
    }
}

.#{$col} {
  > .pull-end {
      margin-top: auto !important;
  }
  > .pull-start {
      margin-bottom: auto !important;
  }
}
