//////////////
//placeholders
//////////////

%grx-align-start {
  align-items: flex-start;
  align-content: flex-start;
}
%grx-align-center {
  align-items: center;
  align-content: center;
}
%grx-align-baseline {
  align-items: baseline;
}
%grx-align-end {
  align-items: flex-end;
  align-content: flex-end;
}
%grx-justify-start {
  justify-content: flex-start;
}
%grx-justify-center {
  justify-content: center;
}
%grx-justify-end {
  justify-content: flex-end;
}

%grx-align-self-start {
  align-self: flex-start;
}

%grx-align-self-center {
  align-self: center;
}

%grx-align-self-end {
  align-self: flex-end;
}
