//////////////
//placeholders
//////////////

%align-start {
  align-items: flex-start;
  align-content: flex-start;
}
%align-center {
  align-items: center;
  align-content: center;
}
%align-baseline {
  align-items: baseline;
}
%align-end {
  align-items: flex-end;
  align-content: flex-end;
}
%justify-start {
  justify-content: flex-start;
}
%justify-center {
  justify-content: center;
}
%justify-end {
  justify-content: flex-end;
}

%align-self-start {
  align-self: flex-start;
}

%align-self-center {
  align-self: center;
}

%align-self-end {
  align-self: flex-end;
}
