/*!
* Grx - a lightweight flexbox grid
* http://github.com/mike-shtil/grx
*
* by: Michael (Mike) Shtilerman
* http://mike-is.me
* distributed under MIT license
*/

////////
//params
////////

$py_container: 'grx-row'; //prefix to use on flex containers
$py_vcontainer: 'grx-col'; //prefix to use on vertical flex containers
$py_size: size; //prefix to use on children of flex containers, when indicating size
$py_bases: 1 2 3 4 5 6 8 9 10 12; //grid width fraction denominators to support
$py_base_default: 12; //default grid base, used when no base is specified
$py_gutters: ( xs: 0.5rem, sm: 1rem, md: 2rem, lg: 4rem, xl: 8rem ); //params - gutter - vertical and horizontal separating columns (should be >= 0)
$py_breakpoints: ( sm: 768px, md: 992px, lg: 1200px ); //breakpoints for media queries - mobile first

///////////
//container
///////////

.#{$py_container}, .#{$py_vcontainer} {
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    ////////
    //gutter
    ////////
    @each $name, $value in $py_gutters {
        &.gutter-#{$name} {
            margin: -$value/2;
            > * {
                padding: $value/2;
            }
        }
    }
}

.#{$py_vcontainer} {
  flex-direction: column;
}

////////////////////
//container children
////////////////////

.#{$py_container}, .#{$py_container} > * {
    // flex-grow: 0;
    // flex-shrink: 1;
    box-sizing: border-box;
}
//default (null) breakpoint
@media all and (min-width: 0) {
    //default base
    .#{$py_container} {
        @for $n from 1 through $py_base_default {
            > .#{$py_size}-#{$n} {
                flex-basis: percentage($n / $py_base_default);
            }
        }
        //dynamic bases
        @each $base in $py_bases {
             @for $n from 1 through $base{
                > .#{$py_size}-#{$n}-#{$base} {
                    flex-basis: percentage($n / $base);
                }
            }
        }
    }
}
//dynamic breakpoints
@each $bpname, $bpvalue in $py_breakpoints {
     @media all and (min-width: #{$bpvalue}){
      .#{$py_container} {
            //default base
            @for $n from 1 through $py_base_default {
                > .#{$py_size}-#{$bpname}-#{$n} {
                    flex-basis: percentage($n / $py_base_default);
                }
            }
            //dynamic bases
            @each $base in $py_bases {
                 @for $n from 1 through $base{
                    > .#{$py_size}-#{$bpname}-#{$n}-#{$base} {
                        flex-basis: percentage($n / $base);
                    }
                }
            }
        }
    }
}
.#{$py_size}-auto {
    //column which takes up entire remaining free space (width) in the row
    flex: 2 2 auto;
}

/////////////////
//general element
/////////////////

.#{$py_container} {
    //justify (horizontal in row)
    &.justify-start {
        justify-content: flex-start;
        //text-align: left;
    }
     &.justify-center,
    %justify-center {
        justify-content: center;
        //text-align: center;
    }
    &.justify-end {
        justify-content: flex-end;
        //text-align: right;
    }
    //align (vertical in row)
    &.align-start {
        display: flex;
        align-items: flex-start;
    }
     &.align-center,
    %align-center {
        display: flex;
        align-items: center;
    }
    &.align-end {
        display: flex;
        align-items: flex-end;
    }
    &.align-stretch {
        align-items: stretch;
    }
    &.center {
        //align and justify
        @extend .align-center;
        @extend .justify-center;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    > .pull-end {
      margin-left: auto !important;
    }
    > .pull-start {
      margin-right: auto !important;
    }
}

.#{$py_vcontainer} {
  > .pull-end {
      margin-top: auto !important;
  }
  > .pull-start {
      margin-bottom: auto !important;
  }
}
